<div class="col-md-2 border-left ml-2">
  <p class="font-italic text-success font-weight-bold">Category</p>
    <% dream_lists.each do |dream_list| %>
    <ul>
      <li>
        <i class="fas fa-caret-right"></i>
        <%= link_to dream_list.category, search_dream_list_path(keyword: dream_list.category) %>
        <% end %>
      </li>
    </ul>
</div>