<div class="container mt-4 mb-4">
  <div class="card mx-auto col-lg-8 shadow p-3 bg-white">
    <div class="text-right">
      <%= link_to dream_lists_path do %>
        <i class="fas fa-times fa-lg text-right text-body"></i>
      <% end %>
    </div>
    <h2>New Dream</h2>
      <%= form_with model: dream_list, local: true do |form| %>
        <div class="ml-3 mt-3">
          <%= render "dream_lists/form", form: form %>
          <div class="mt-3 text-center">
            <%= button_tag :type => "submit", :class =>"btn-sm btn-default" do %>
              <i class="fas fa-caret-right"></i>Update
            <% end %>
          </div>
        </div>
      <% end %>
  </div>
</div>