<div class="text-danger">
  <% if dream_list.errors.any? %>
    <%= dream_list.errors.count %>件のエラーが発生しました
      <ul>
        <% dream_list.errors.full_messages.each do |message| %>
          <li class="ml-3">
            <%= message %>
          </li>
        <% end %>
      </ul>
  <% end %>
</div>
