<div class="col-md-9">
  <table class="table table-striped text-white">
    <thead>
      <tr>
        <th></th>
        <th>夢</th>
        <th>達成日</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render "dream_lists/dream_list", dream_lists: @dream_lists %>
    </tbody>
  </table>
</div>