<div class="container mt-4 mb-4">
  <div class="text-right">
    <%= link_to "+dream", new_dream_list_path, class: "btn btn-secondary btn-sm" %>
  </div>
  <h2 class="text-white" >Many Dreams</h2>
    <div class="row">
      <%= render "dream_lists/index", dream_lists: @dream_lists %>
      <%= render "dream_lists/category", dream_lists: @dream_lists %>
    </div>
</div>
