<div class="container mt-4 mb-4">
  <div class="row mx-auto">
    <% @dream_lists.each do |dream_list| %>
      <div class="col-md-7 mt-2">
        <div class="card-wrap d-flex">
          <%= link_to dream_list.dream, dream_list_path(dream_list.id) %>
          <%= link_to "編集", edit_dream_list_path(dream_list.id) %>
        </div>
      </div>
      <div class="col-md-2">
        <p>カテゴリー</p>
        <li><%= link_to dream_list.category, search_dream_list_path(keyword: dream_list.category) %></li>
      </div>
    <% end %>
  </div>
</div>