<div class="container mt-4 mb-4">
  <div class="col-md-6 mx-auto">
    <%= image_tag @dream_list.get_image, size: "400x300" %>
    <p><%= link_to @dream_list.dream, dream_list_path(@dream_list.id) %></p>
    <p><%= @dream_list.countdown %></p>
    <p><%= @dream_list.detail %></p>
  </div>
</div>
