<div class="text-danger">
  <% if user.errors.any? %>
    <%= user.errors.count %>件のエラーが発生しました
      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li class="ml-3">
            <%= message %>
          </li>
        <% end %>
      </ul>
  <% end %>
</div>
