<div class="container mt-4 mb-4">
  <div class="card mx-auto col-lg-8 shadow p-3 bg-white">
    <h2>アカウント編集</h2>
      <%= form_with model: @user, method: :patch, local: true do |form| %>
        <div class="ml-3 mt-3">
          <%= render "users/form", form: form %>
          <div class="mt-3 text-center">
            <%= form.submit "更新" %>
          </div>
        </div>
      <% end %>
  </div>
</div>
