<div class="container">
  <div class="top_main">
    <h1 class="font-italic textAnime">Collect Note</h1>
    　<script>
    　 function TexAnime() {
    　   $('.textAnime').each(function(){
    　   var elemPos = $(this).offset().top - 50;
    　   var scroll = $(window).scrollTop();
    　   var windowHeight = $(window).height;
    　 }
    　</script>
      <div class="d-flex justify-content-around mt-3">
        <p>Dream Management</p>
        <p class="ml-3">Schedule Management</p>
      </div>
  </div>
</div>

