<div class="container">
  <div class="top_main">
    <div id="top_word">
      <h1 class="font-italic">Collect Note</h1>
    </div>
      <div class="d-flex justify-content-around mt-3">
        <p>Dream Management</p>
        <p class="ml-3">Schedule Management</p>
      </div>
  </div>
</div>

