.top_back {
  height: 100vh;
  background-image: url("../image/top_back.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

/*.top_title {
  position: absolute;
  top: 40%;
  left: 20%;
}*/