<div class="container mt-4 mb-4">
  <div class="card mx-auto col-lg-8 shadow p-3 bg-white">
    <h2>New List</h2>
      <%= form_with model: @not_to_do_list, local: true do |form| %>
        <%= render "not_to_do_lists/form", form: form %>
        <div class="mt-3 text-center">
          <%= button_tag :type => "submit", :class =>"btn-sm btn-default" do %>
            <i class="fas fa-caret-right"></i>Sign up
          <% end %>
        </div>
      <% end %>
  </div>
</div>
